body{
    height: 100%;
    width: 100%;
    background-image: url(book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: 0px;
    padding: 0x;
}

a{
    font-family: 'Source Code Pro', monospace;
    text-decoration-line: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 20px;
    margin-left: 20px;
}
