body{
    height: 100%;
    width: 100%;
    background-image: url(book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: 0px;
    padding: 0x;
}

a{
    font-family: 'Source Code Pro', monospace;
    text-decoration-line: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
}
h1{
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 5px;
    font-size: 72px;
    color: white;
}
span{
    display: inline-block;
    padding: 0.3em;
    border: white solid 10px;
}
a:hover{
    color: black;

}
.underliner{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    
}

footer{
    height: 30px;
    width: 100%;
    background-color: black;
    margin-top:  484px;
    padding: 0px;
}
p{
   font-family: 'Source Code Pro', monospace;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 100px;
}


